@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-redux-toastr/src/styles/index';

.redux-toastr {
  .toastr {
    width: 330px;
    height: 100px;
    @apply shadow text-medium ;
    background-color: #272532;
    &.rrt-success {
      background-color: #56db8b;
    }
    &.rrt-warning {
      background-color: #eaa84c;
    }
    &.rrt-info {
      background-color: #4b85e7;
    }
    &.rrt-error {
      background-color: #e94d4d;
      display: flex !important;
      flex-direction: column !important;
    }
  }
}



* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body{
  background: #111111;
  color: #939393;
}

h1{
  color: #f4f6fb !important;
  font-size: 40px !important;
  cursor: pointer;
};

.darkTheme {
  background: rgb(199, 199, 199);
  color: #111111;
  >h1{
    color: #111111 !important
  }
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
